body {
  background-color: #FAFAFA;
}

body.landing {

  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
    height: 3200px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

body * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.landingWraper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
}

.compact {
  display: none;
}



/*body.landing .menubar div {
max-width: 1440px;
margin: 10px auto;
}*/



.mainSection {
  position: relative;
  width: 1440px;
  height: 825px;
  /*margin-left: 0px;*/
  overflow: hidden;


  /*background-color: #879696;*/
}

.mainSection h2 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
  }

}

.mainSection p {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 25px;

}


.mainSection.left {
  /*background-color: white;*/
}
/*.mainSection section {
  position: absolute;
    top: 120px;
  width: 580px;

}*/

.mainSection.left section {
  margin-top: 120px;
  margin-left: 160px;
  /*left: 160px;
  top: 145px;*/
}



.mainSection.right section {
  margin-top: 190;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 800px;
 /*right: 61px;*/

}


.mainSection.right,
.mainSection.center {
color: white;
background-color: rgba(135, 150, 150, 1);
}

.mainSection.center {
  text-align: center;
  margin: 0 80px;

}

/*.mainSection.center h2 {
  font-size: 40px;
  line-height: 52px;
}*/

.mainSection.center p {
  margin-top: 27px;
}

.mainSection.center section {
  margin-top: 190px;
  margin-left: 10px;
  top: 182px;
  width: 100%;
}


.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 35px;
}

.mainSection.center footer p {
  font-size: 16px;
}

.mockup {
  position: absolute;
  background-size: cover;
}


#mockup1 {
  margin: -250px 0px 0 750px;
  width: 530px;
  height: 566px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0,.1);
}

#mockup2 {
  top: 97px;
  left: 100px;
  width: 532px;
  height: 670px;
  background-image: url(../images/works.png);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0,.1);
}

#mockup3 {
  margin: -116px 0px 0 629px;
  width: 774px;
  height: 406px;
      border-radius: 20px;
      background-image: url(../images/screens.png);

  }

}

.btn {
  display: flex;
  margin
}
