* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #FAFAFA;
}

body.landing {
  font-family: 'PT Sans Caption', sans-serif;
  min-width: 768px;
}

body.landing.bg {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
}

body * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.compact {
  display: none;
}

.full {
  display: block;
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 25px;
}

.mainSection.left section {
  margin-left: 160px;
  margin-top: 190px;
}

.mainSection.right section {
  margin-left: 800px;
  margin-top: 192px;
}

.line {
  height: 4px;
  width: 30px;
  background-color: #5fe5c2;
  margin-top: 58px;
}

.mainSection.right,
.mainSection.center {
  color: white;
  background-color: #879696;
}

.mainSection.left {
  background-color: white;
}

.mainSection.center {
  text-align: center;
}

.mainSection.center section {
  text-align: center;
  margin-top: 197px;
  width: 100%;
}
.mainSection.center h2 {
  font-size: 44px;
  line-height: 52px;
}

.mainSection.center p {
  margin-top: 27px;
}


.mainSection.center footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-bottom: 30px;
}

.mainSection.center footer p {
  margin-bottom: 7px;
  margin-left: 0px;
  font-size: 16px;
}

.mockup {
  position: absolute;;
  background-size: cover;
}

#mockup1 {
  top: 235px;
  right: 160px;
  width: 530px;
  height: 566px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2_1 {
  top: -309px;
  left: 160px;
  width: 140px;
  height: 317px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/about.png);
 }

 #mockup2_2 {
  top: -309px;
  left: 333px;
  width: 140px;
  height: 395px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/works.png);
 }

 #mockup2_3 {
  top: -309px;
  left: 506px;
  width: 140px;
  height: 475px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  background-image: url(../images/work.png);
 }

#mockup3 {
  top: 340px;
  left: 638px;
  width: 763px;
  height: 405px;
  border-radius: 20px;
  background-image: url(../images/screens.png);
  }

nav.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 60px;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: underline;
  margin-left: 632px;
  margin-top: 17px;
  font-size: 14px;
}

@media screen and (max-width: 1440px) {
  .landingWrapper {
    width: 100%;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  }
}


@media screen and (max-width: 1179px) {
  body.landing.bg {
    background-image: url(../images/mockups/1024.png);
  }

  .mainSection {
    width: 1179px;
    height: 568px;
  }

  .compact {
    display: block;
  }

  .full {
    display: none;
  }

  .mainSection h2 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;

  }

  .mainSection p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }

  .mainSection section {
    top: 137px;
    width: 410px;
  }

  .mainSection.left section {
    margin-left: 190px;
    margin-top: 140px;
  }

  .mainSection.right section {
    margin-left: 645px;
    margin-top: 140px;
  }

  .mainSection.center h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .mainSection.center section {
    margin-top: 140px;
  }

  .mainSection.center section nav {
    margin-top: 80px;
    height: 37px;
  }

  .mainSection.center section nav a {
    margin: 0 6px;
  }
  .mainSection.center footer {
    bottom: -15px;
    padding-bottom: 35px;
  }

  .mainSection.center footer p {
    font-size: 11px;
  }

  .line {
    height: 3px;
    width: 23px;
    background-color: #5fe5c2;
    margin-top: 45px;
  }

  .mockup {
    position: absolute;;
    background-size: cover;
  }

  #mockup1 {
    top: 166px;
    right: 190px;
    width: 377px;
    height: 555px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup2_1 {
    top: -219px;
    left: 191px;
    width: 102px;
    height: 227px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

   #mockup2_2 {
    top: -219px;
    left: 316px;
    width: 100px;
    height: 283px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

   #mockup2_3 {
    top: -219px;
    left: 438px;
    width: 100px;
    height: 338px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

  }

  #mockup3 {
    top: 242px;
    left: 532px;
    width: 542px;
    height: 287px;
  }
}

@media screen and (max-width: 839px) {
  body.landing.bg {
    background-image: url(../images/mockups/768.png);
  }

  .mainSection {
    width: 839px;
    height: 1024px;
  }

  .compact {
    display: block;
  }

  .full {
    display: none;
  }

  .mainSection h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    margin-top: 18px;
    font-size: 14px;
    line-height: 26px;
  }

  .mainSection section {
    top: 137px;
    width: 410px;
  }

  .mainSection.left section {
    margin-left: 150px;
    margin-top: 140px;
  }

  .mainSection.right section {
    margin-left: 348px;
    margin-top: 137px;
  }

  .mainSection.center h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .mainSection.center section {
  margin-top: 190px;
  }

  .mainSection.center section nav {
    margin-top: 124px;
    height: 37px;

  }

  .mainSection.center section nav a {
    margin: 0 6px;
  }

  .mainSection.center footer {
    bottom: -15px;
    padding-bottom: 35px;
  }

 .mainSection.center footer p {
   font-size: 11px;
  }

  .line {
    height: 3px;
    width: 21px;
    background-color: #5fe5c2;
    margin-top: 44px;
  }

  .mockup {
    position: absolute;;
    background-size: cover;
  }

  #mockup1 {
    top: 484px;
    right: 147px;
    width: 543px;
    height: 557px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup2_1 {
    top: 100px;
    left: 173px;
    width: 141px;
    height: 316px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

   #mockup2_2 {
    top: 100px;
    left: 347px;
    width: 140px;
    height: 396px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

   #mockup2_3 {
    top: 100px;
    left: 520px;
    width: 140px;
    height: 474px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  #mockup3 {
    top: 505px;
    left: 157px;
    width: 755px;
    height: 403px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 { background-image: url(../images/about@2x.png); }
  #mockup2_1 { background-image: url(../images/about@2x.png); }
  #mockup2_1 { background-image: url(../images/works@2x.png); }
  #mockup2_1 { background-image: url(../images/work@2x.png); }
  #mockup3 { background-image: url(../images/screens@2x.png); }
}
