body {
  width: 1440px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a.link {
  text-decoration: underline;
  color: inherit;
  font-weight: lighter;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav.btn {
  color: black;
  position: relative;
  font-family: 'PT Sans Caption', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 50px;
  margin-top: 62px;
  margin-left: 569px;
  background-color: #77FFE1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}


body {
  min-width: 768px;
  font-family: 'PT Sans Caption', sans-serif;
}

body,
body.landing {
  background-color: #FAFAFA;
}

/*body.menubar,*/
body.landing .menubar {
  position: fixed;;
  top: 0;
  left: 0px;
  z-index: 1;
  width: 100%;
  min-width: 768px;
}

body.landing .menubar div {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

body.landing .footer div {
  background-color: none;
}



@media screen and (max-width: 1179px) {
  nav.btn{
    width: 214px;
    height: 36px;
    font-size: 12px;
    margin-top: 62px;
    top: -36px;
    left: -86px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

a.link {
  margin-left: 512px;
  margin-top: -29px;
  font-size: 12px;
  }
}


@media screen and (max-width: 839px) {
  nav.btn {
    width: 214px;
    font-size: 12px;
    top: -37px;
    left: -259px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
  }

  a.link {
    margin-left: 345px;
    margin-top: -25px;
    font-size: 12px;
    }
  }
