/*.btn:hover {
  background-color: #5fe5c2;
}

.link {
display: block;
margin-top: 15px;
}

@media screen and (max-width: 1179px) {
  .btn {
    width: 214px;
    height: 36px;
    font-size: 12px;
    line-height: 36px
  }
}*/
